<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="box">
        <input type="number" v-model="width">
        <input type="number" v-model="height">
        <br>
        <!-- <input type="range" min="0" max="255" v-model="r">
        <br>
        <input type="range" min="0" max="255" v-model="g">
        <br>
        <input type="range" min="0" max="255" v-model="b">
        <br><br><br>
        <div class="color" :style="{width:width+'px',height:height+'px',
        background:'rgb('+r+','+g+','+b+')'}">app</div> -->

        <input type="color" v-model="bg">
        <br>
        <div class="color" :style="{width:width+'px',height:height+'px',
        background:bg}">app</div>
    </div>
</body>
<script src="vue.js"></script>
<script>
    var vm = new Vue({
        el:"#box",
        data:{
            width:200,
            height:200,
            r:0,
            g:0,
            b:0,
            bg:"#ccc"
        }
    })
</script>
</html>